<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">  
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<!--Nav Bar--> 
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="education">Education</a> 
            </li>
            <li class="nav-item">
              <a class="nav-link" href="hobbies">Hobbies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="family">Family</a> 
            </li>              
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!--Info about my education-->
    <body style="background-color:powderblue;">  
      <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <style>
                  h2 {text-align:left;}
                  h2 {color:black}                             
                </style>
                </head> 
                <h2>High school</h2>
                <img src="../static/images/ionaprep.png" width="220" height="220"                
                alt="highschool" title="iona prep"              
                </style>             
                <style>
                .center {
                  margin: auto; 
                  width: 85%;              
                }
                </style>
                <div class="left">

                <p>I went to Iona Prep high school in New Rochelle New York. It is an Christian Brother Catholic private school.</p>
                <h2>College</h2>
                <img src="../static/images/maristcollege.png" width="220" height="220" 
                alt="college" title="marist college"               
                  </style>             
                <style>
                .center {
                  margin: auto; 
                  width: 85%;              
                }
                </style>
                <div class="left">
                <p>I am currently a freshman at Marist college. Majoring in Economics and minoring in Computer Science.</p>                                     
                </div>                              
                </div>
            </div>  
        </div> 
</body>
</html>